@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--color-primary: #2c4375;
	--color-primary-light: #247fc3;
	--color-primary-lightest: #31bff0;

	--color-secondary: #e0eaa9;
	--color-secondary-light: #fcd6cf;
}

@font-face {
	font-family: Uto;
	src: url("/fonts/Uto-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Uto;
	src: url("/fonts/Uto-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Uto;
	src: url("/fonts/Uto-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Uto;
	src: url("/fonts/Uto-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Uto;
	src: url("/fonts/Uto-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-style: normal;
	font-family: "Uto", sans-serif;
	line-height: 120% !important;
	letter-spacing: 0.02em !important;
}

html,
body {
	overscroll-behavior: none;
	min-height: 100vh;
}

* {
	/* Hide scrollbar for all browsers */
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
}
*::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(30px);
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-30px);
	}
}

:root::view-transition-old(root) {
	animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
	/* 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left; */
}

:root::view-transition-new(root) {
	animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in;
	/* 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right; */
}

.page-content {
	@apply container mx-auto flex h-full w-full justify-end px-3 pt-24 pb-26 md:items-center md:pt-32 md:pb-30;
}
.page-container {
	@apply h-full w-full;
}

@media (min-width: 768px) {
	.page-container {
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}
}

@media (max-width: 768px) {
	.page-container {
		background-size: cover;
		background-position: bottom center;
		background-attachment: fixed;
	}
}

ul {
	line-height: 165%;
}

section {
	@apply sticky top-0 h-screen w-screen;
}
